/* footer {
  bottom: 0;
  position: fixed;
  width: calc(100% - 250px);
} */

.w3-panel {
  display: flex;
  justify-content: space-between;
}

.footer {
  font-size: 1.2rem;
}

.copyright {
  text-decoration: none;
  color: #1668af;
}

/* footer {
  padding-top: 5px;
  width: calc(100% - 250px);
}

footer .w3-container-footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
} */
