<app-header></app-header>
<app-sidemenu></app-sidemenu>

<!-- !PAGE CONTENT! -->
<div class="w3-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Side Navigation -->
                <nav class="w3-sidebar w3-bar-block w3-collapse w3-white w3-card"
                    style="z-index:3;width:320px;bottom: 10px;height: calc(100% - 80px);" id="mySidebar">
                    <a href="javascript:void(0)" class="w3-bar-item w3-dark-grey w3-button w3-left-align"
                        onclick="document.getElementById('id01').style.display='block'">New Message <i
                            class="w3-padding fa fa-pencil"></i></a>
                    <a id="myBtn" href="javascript:void(0)" class="w3-bar-item w3-button tablink"
                        (click)="openCity(event, 'inbox')"><i class="fa fa-inbox w3-margin-right"></i>Inbox (3)</a>
                    <a id="myBtn" href="javascript:void(0)" class="w3-bar-item w3-button tablink"
                        (click)="openCity(event, 'sent')"><i class="fa fa-paper-plane w3-margin-right"></i>Sent</a>
                    <a id="myBtn" href="javascript:void(0)" class="w3-bar-item w3-button tablink"
                        (click)="openCity(event, 'drafts')"><i
                            class="fa fa-hourglass-end w3-margin-right"></i>Drafts</a>
                    <a id="myBtn" href="javascript:void(0)" class="w3-bar-item w3-button tablink"
                        (click)="openCity(event, 'trash')"><i class="fa fa-trash w3-margin-right"></i>Trash</a>
                </nav>

                <!-- Page content -->
                <div class="w3-main" id="inbox" style="width: calc(100% - 100px);margin-left: 100px;display:none">
                    Inbox works!
                </div>
                <div class="w3-main" id="sent" style="width: calc(100% - 100px);margin-left: 100px;display:none">
                    Sent Message works!
                </div>
                <div class="w3-main" id="drafts" style="width: calc(100% - 100px);margin-left: 100px;display:none">
                    Draft Message works!
                </div>
                <div class="w3-main" id="trash" style="width: calc(100% - 100px);margin-left: 100px;display:none">
                    Trash works!
                </div>

                <!-- Message content -->
                <!-- <div class="w3-main" style="width: calc(100% - 100px);margin-left: 100px;">
                    <div id="Borge" class="w3-container person">
                        <br>
                        <img class="w3-round" src="assets/w3images/avatar3.png" style="width:20%;">
                        <h5 class="w3-opacity">Subject: Remember Me</h5>
                        <h4><i class="fa fa-clock-o"></i> From Borge Refsnes, Sep 27, 2015.</h4>
                        <a class="w3-button w3-light-grey" href="#">Reply<i
                                class="w3-margin-left fa fa-mail-reply"></i></a>
                        <a class="w3-button w3-light-grey" href="#">Forward<i
                                class="w3-margin-left fa fa-arrow-right"></i></a>
                        <hr>
                        <p>Hello, i just wanted to let you know that i'll be home at lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat.</p>
                        <p>Best Regards, <br>Borge Refsnes</p>
                    </div>
                </div> -->

                <!-- Modal that pops up when you click on "New Message" -->
                <div id="id01" class="w3-modal" style="z-index:4">
                    <div class="w3-modal-content w3-animate-zoom">
                        <div class="w3-container w3-red mail-header">
                            <span onclick="document.getElementById('id01').style.display='none'"
                                class="w3-button w3-red w3-right w3-xlarge"><i class="fa fa-remove"></i></span>
                            <h2 class="mail-header mt-2">Send Mail</h2>
                        </div>
                        <div class="w3-panel">
                            <label>To</label>
                            <input class="w3-input w3-border w3-margin-bottom" type="text">
                            <label>From</label>
                            <input class="w3-input w3-border w3-margin-bottom" type="text">
                            <label>Subject</label>
                            <input class="w3-input w3-border w3-margin-bottom" type="text">
                            <input class="w3-input w3-border w3-margin-bottom" style="height:150px"
                                placeholder="What's on your mind?">
                            <div class="w3-section">
                                <a class="w3-button w3-red"
                                    onclick="document.getElementById('id01').style.display='none'">Cancel  <i
                                        class="fa fa-remove"></i></a>
                                <a class="w3-button w3-light-grey w3-right"
                                    onclick="document.getElementById('id01').style.display='none'">Send  <i
                                        class="fa fa-paper-plane"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

<!-- End page content -->